body {
  background-color: #994b4b71;
  font-family: monospace;
  margin: 30px;
}

input{
  font-size: 25px;
  font-family: monospace;
}

button{
  font-size: 25px;
  font-family: monospace;
}
